body {
  padding: 0 50px 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width:80%
}

h1{
  margin-top: 70px;
}

a {
  color: #00B7FF;
}

#posts_box{
  display: flex;
  flex-wrap: wrap;
}

.post{
  width:300px;
  margin:5px;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heart_button{
  color:red;
}

.comments-box{
  border: 1px black solid;
  margin: 10px;
}

.individual-comment-box{
  border: 1px black solid;
  margin: 3px;
}